.h1 {
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(101, 101, 221);
    padding: 30px;
    margin: auto;
}

.image {
    width: 100vw;
    height: auto;
}